.viewport {
  height: 500px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 50%;
  left: 25%;
  top: 25%;

}

.item {
  height: 50px;
  padding: 10px;
  background: lightgray;
  border: 1px solid aliceblue;
}

ul{
  li{
    font-size: 14px;
    margin-bottom: 5px;
    font-family: Arial;
  }
}
